{% extends 'base.html' %}

{% block header %}
<div class="jumbotron text-center {{bg_color_class}}">
  <h1>新規作成ページ</h1>
</div>
{% endblock %}

{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <p>
    <label>Title:</label>
    <input type="text" class="form-control" name="title" maxlength="100" required>
  </p>
  <p>
    <label>Memo:</label>
    <textarea class="form-control" name="memo" cols="40" rows="10" required></textarea>
  </p>
  <p>
    <label>Duedate:</label>
    <input class="form-control" type="date" name="duedate" required>
  </p>

  <div class="form-group">
    <label>Image:</label>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="file1" name="image" accept="image/png, image/jpeg, image/jpg">
      <label class="custom-file-label" for="file1" data-browse="参照">ファイルを選択...</label>
    </div>
  </div>

  <input type="submit" class="mt-3 btn btn-success btn-sm" value="新規作成する">
</form>
{% endblock content %}